<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" *ngFor="let alojamiento of detalleAlojamiento">
  <ion-card>
    <img
      src="{{ alojamiento.imagen }}"
      alt="Imagen del apartamento"
      width="100%"
    />
    <ion-card-header>
      <ion-card-title>{{ alojamiento.nombre }}</ion-card-title>
      <ion-card-subtitle
        >Tipo de alojamiento: {{ alojamiento.tipo }}</ion-card-subtitle
      >
      <div class="ion-margin-top ion-justify-content-start">
        <ion-icon name="location-outline"></ion-icon>{{ alojamiento.ciudad }}
        <span class="ion-margin-start">${{ alojamiento.precio }}</span>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div
        style="display: flex; align-items: center"
        *ngFor="let calificacion of calificacionesAlojamiento"
      >
        <ion-icon
          name="star"
          style="margin-right: 5px"
          color="warning"
        ></ion-icon>
        <p>
          {{ calificacion.promedio }} ({{ calificacion.total }} calificaciones)
        </p>
        <ion-button size="small" class="ion-margin-start" (click)="reservar(alojamiento.id_alojamiento, alojamiento.precio)"
          >Reservar</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripcion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ alojamiento.descripcion }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué ofrece el lugar?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul class="list-unstyled" *ngFor="let servicio of serviciosAlojamiento">
        <li>{{ servicio.servicio }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reseñas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let comentario of comentariosAlojamiento">
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/img/avatar.png"
              alt="Avatar del usuario"
            />
          </ion-avatar>
          <ion-label>
            <h2>{{ comentario.nombre }}</h2>
            <p>{{ comentario.comentario }}</p>
            <ion-icon
              *ngFor="let estrella of getArrayEstrellas(comentario.calificacion)"
              [name]="estrella ? 'star' : 'star-outline'"
              color="warning"
            >
            </ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
