<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" *ngFor="let alojamiento of detalleAlojamiento">
  <ion-card>
    <img
      src="{{ alojamiento.imagen }}"
      alt="Imagen del apartamento"
      width="100%"
    />
    <ion-card-header>
      <ion-card-title>{{ alojamiento.nombre }}</ion-card-title>
      <ion-card-subtitle
        >Tipo de alojamiento: {{ alojamiento.tipo }}</ion-card-subtitle
      >
      <div class="ion-margin-top">
        <ion-icon name="location-outline"></ion-icon>{{ alojamiento.ciudad }}
        <span class="ion-margin-start">${{ alojamiento.precio }}</span>
        <ion-button size="small" class="ion-margin-start ion-margin-bottom"
          >Reservar</ion-button
        >
      </div>
    </ion-card-header>
    <!-- Calificaciones pendientes -->
    <ion-card-content>
      <div style="display: flex; align-items: center">
        <ion-icon
          name="star"
          style="margin-right: 5px"
          class="ion-color-warning"
        ></ion-icon>
        <p style="margin: 0">4.8 (95 calificaciones)</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripcion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ alojamiento.descripcion }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Que ofrece el lugar</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let servicio of serviciosAlojamiento">
      <ul class="list-unstyled">
        <li>{{ servicio.servicio }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reseñas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/img/avatar.jpg"
              alt="Avatar del usuario"
            />
          </ion-avatar>
          <ion-label>
            <h2>Nombre del Usuario</h2>
            <p>Comentario del usuario.</p>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
